@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$sblue: hsl(231, 69%, 60%);
$sred: hsl(0, 94%, 66%);

$gblue: hsl(229, 8%, 60%);
$dblue: hsl(229, 31%, 21%);

$font: 400 18px/24px 'Rubik', sans-serif;
